version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: challenge-db
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: challenge_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3307:3306" 
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10
    networks:
      - backend-network

  customers-api:
    build: ./customers-api
    container_name: customers-api
    restart: always
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "3001:3001"
    environment:
      PORT: 3001
      DB_HOST: db
      DB_PORT: 3306
      DB_USER: user
      DB_PASSWORD: password
      DB_NAME: challenge_db
      SERVICE_TOKEN: token_interno_para_microservicios_123
    volumes:
      - ./db:/db
    networks:
      - backend-network

  orders-api:
    build: ./orders-api
    container_name: orders-api
    restart: always
    depends_on:
      db:
        condition: service_healthy
      customers-api:
        condition: service_started
    ports:
      - "3002:3002"
    environment:
      PORT: 3002
      DB_HOST: db
      DB_PORT: 3306
      DB_USER: user
      DB_PASSWORD: password
      DB_NAME: challenge_db
      CUSTOMERS_API_URL: http://customers-api:3001/internal/customers
      SERVICE_TOKEN: token_interno_para_microservicios_123
    volumes:
      - ./db:/db
    networks:
      - backend-network

networks:
  backend-network:
    driver: bridge

volumes:
  db_data: